@import '../../../../styles/variables.scss';

.ThisDay {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box_shadow;
  border-radius: $border_radius;
}

.top_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  svg {
    width: 119px;
    height: 119px;
  }
  .this_day_temp {
    font-size: 96px;
    font-weight: 500;
    color: $primary_color;
  }
}

.bottom_block {
  .this_time,
  .this_city {
    color: $base_color;
    font-size: 25px;
  }
}

.this_day_day {
  font-size: 40px;
  color: var(#{--text-color-default});;
}
