@import '../../../../styles/variables.scss';

.ThisDayInfo {
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box_shadow;
  border-radius: $border_radius;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 0;
  };
}

.indicator, .indicator_name {
  margin-right: 20px;
}

.indicator {
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
  border-radius: 50%;
}

.indicator_name {
  font-size: 14px;
  color: $base_color;
}

.indicator_value {
  font-size: 14px;
  color: var(#{--text-color-default});
}

.cloud_img {
  position: absolute;
  top: 0;
  right: 0;
}
